body {
  background-color: #f4ff0042;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 1.2rem;
}

.App {
  max-width: 960px;
  margin: 0 auto 30px;
}

.post-title {
  text-transform: capitalize;
  font-size: 1.6rem;
}

.post-actions button {
  margin-right: 10px;
}

.pages {
  display: flex;
  justify-content: space-between;
}

.post{
  cursor: pointer;
}

.post h4:hover {
  color: rgb(10, 22, 250);
}

.action-buttons {
  margin: 10px 0;
}

.action-buttons button {
  margin-right: 10px;
}